@font-face {
    font-family: Roboto;
    src: url(roboto.ttf);
}

body {
    font-family: Roboto;
}

#bg {
    height: 100vh;
}

#bg::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;

    /* Specify the background image to be used */
    background-image: url('confetti.jpeg');
    background-size: cover;

    /* Specify the background image */
    opacity: 0.2;
}

table, th, td {
    border-style: solid;
    border-radius: 1px;
}

th, td {
    padding: 3px;
    border-spacing: 3px;
}

img {
    float: right;
    z-index: -1;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#poem {
    text-align: center;
}